h1{
    font-size: 64px;
}

#footer{
    color: white;
}

#twitch-embed{
    margin: 20px;
}

body{
    background-color: #3e67ee;
    border-color: #2dad2d;
    border-style:ridge;
    border-radius: 5px;
    border-width: 20px;
    text-align: center;
}

img{
    width:90px;
    length:90px;
    float:left;
    margin-right: 20px;
}

.header {
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
}

/*inline nav bar*/
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0F084B;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #fffb00;
    text-decoration: none;
}

li a.active {
    background-color: #2dad2d;
}


h2{
    text-align: left;
    font-size: 60px;
    text-align:center;
}

  .fa {
  padding: 12px;
  font-size: 50px;
  width: 70px;
  text-align:center;
  text-decoration: none;
  margin: 10px 7px;
  border-radius: 20%;
  }

/*social media links with icons*/
/* Add a hover effect if you want */
.fa:hover {
 opacity: 0.7;
 background: #00ff00;
 color: #ffffff;
 transform: scale(1.2);
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
 background: #3B5998;
 color: white;
}

/* Twitter */
.fa-twitter {
 background: #55ACEE;
 color: white;
}

 /*instagram */
.fa-instagram {
    background:#F46f30;
    color: white;
 }

.fa-youtube {
    background: red;
    color: white;
 }
